<section class="_locator _1">
  <div class="_content">
    <div class="_container _1">
      <div class="_head">
        <div class="_in">
          <h2 class="_title">{{ page.metafields.custom.title }}</h2>
          <h5 class="_subtitle">{{ page.metafields.custom.subtitle }}</h5>
        </div>
      </div>
    </div>
    <div class="_body">
      <div class="_in-body">
        <div class="_container _1">
          {{ page.content }}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Locator I",
    "settings": []
  }
{% endschema %}