/* I */
  div#storemapper {
    padding: 0;
  }
  section._locator._1 {
    position: relative;
    padding: 5rem 0;
    background: #5D7831;
  }
  section._locator._1 ._head {
    text-align: center;
    margin-bottom: 5rem;
    color: #fff;
    font-family: 'Tenon', sans-serif;
  }
  section._locator._1 ._title {
    font-size: 5.0625rem;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: lowercase;
    width: 1000px;
    max-width: 100%;
    margin: 0 auto 1rem;
  }
  section._locator._1 ._subtitle {
    font-family: Tenon;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    text-transform: lowercase;
    width: 550px;
    max-width: 100%;
    margin: 0 auto;
  }
  .strmpr-powered-by {
    display: none;
  }
  .strmpr-search {
    background: #fff;
    padding: 1rem 1rem 3rem 1rem;
    position: relative;
    z-index: 2 !important;
    border-radius: 1rem 1rem 0 0 !important;
  }
  #storemapper-results {
    background: #fff;
    position: relative;
    z-index: 1;
    border-radius: 0 0 1rem 1rem;
  }
  .strmpr-search-results .strmpr-search-result {
    padding: 1rem 1rem 1rem 3rem !important;
    border: 0 !important;
    background: #1D3B8A !important;
    border-radius: 0.5rem !important;
    color: #fff !important;
    font-family: 'Tenon', sans-serif !important;
    position:relative !important;
  }
  .strmpr-field-address {
    margin-left: 0 !important;
  }
  .strmpr-field-name {
    font-size: 1.2rem !important;
    margin-bottom: 0 !important;
    line-height: 1 !important;
    text-transform: lowercase !important;
  }
  .strmpr-search-results .strmpr-search-result .strmpr-field-bucket-general{
    margin:0 !important;
    padding: 0 !important;
  }
  .storemapper_view.strmpr-field-show-on-map.storemapper-storelink {
    position: absolute !important;
    inset: 0 !important;
    width: 100% !important;
    height: 100% !important;
    border: 0 !important;
    opacity: 0 !important;
    z-index:2 !important;
  }
  .strmpr-search-results .strmpr-search-result:before {
    content: '\F3E7';
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-family: 'bootstrap-icons', sans-serif;
    font-size: 1.5rem;
  }
  .strmpr-search .strmpr-search-box-wrapper .strmpr-search-box {
    border: 0 !important;
    padding: 1rem 0 !important;
    border-bottom: 2px solid !important;
    border-radius: 0 !important;
    color: #1D3B8A !important;
    font-family: 'Tenon', sans-serif !important;
    font-weight: 500 !important;
    color: #1d3b8a!important;
    width:65% !important;
    height:3rem !important;
    font-size: 1.1rem !important;
    text-transform: lowercase !important;
  }
  .strmpr-search .strmpr-search-box-wrapper .strmpr-search-box::placeholder{    
    color: #1d3b8a!important;
  }
  .strmpr-field-logo,
  .strmpr-google-details-header,
  .strmpr-field-address:before,
  .strmpr-field-directions.storemapper_directions,
  .strmpr-field-phone,
  .strmpr-field-email,
  .strmpr-field-url,
  .strmpr-field-description.storemapper-description{
    display: none !important;
  }

/* END I */
  @media(max-width:991px){
    section._locator._1 ._title{
      font-size:3rem;
    }
    section._locator._1 ._subtitle{
      font-size:1.1rem;
    }
  }
  @media(min-width:961px){ 
    .strmpr-search-results {
      padding-top: 3rem !important;
    }
    .strmpr-search .strmpr-search-button {
      background: url('https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768') !important;
      border-radius: 0 !important;
      height: 5.6rem !important;
      width: 5.5rem !important;
      border: 0 !important;
      top: 0.5rem;
      right: 0.5rem;
      position: absolute;
      background-repeat: no-repeat !important;
      background-position: center !important;
      padding: .5rem !important;
      background-size: cover !important;
    }
    .strmpr-search .strmpr-search-button:before {
      content: 'search!';
      font-family: 'Tenon', sans-serif;
      color: #1d3b8a;
      font-size: 1rem;
      font-weight: 700;
      display: block;
      transform: rotate(-5deg);
    }
  }
  @media(max-width:960px){
    .strmpr-search{
      margin-bottom:-2rem !important;
    }
    .strmpr-search-results {
      padding-top: 1rem !important;
    }
    .strmpr-search .strmpr-search-button {
      background: url('https://cdn.shopify.com/s/files/1/0901/1216/4158/files/asterisco-yellow.svg?v=1737141768') !important;
      border-radius: 0 !important;
      height: 7rem !important;
      width: 7rem !important;
      border: 0 !important;
      position: absolute;
      right: 1rem;
      top: 1rem;
      background-position: center !important;
      padding: .5rem !important;
      background-size: cover !important;
    }
    .strmpr-search .strmpr-search-button:before {
      content: 'search!';
      font-family: 'Tenon', sans-serif;
      color: #1d3b8a;
      font-size: 1rem;
      font-weight: 700;
      display: block;
      transform: rotate(-5deg);
    }
  }